[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"

[requires]
python_version = "3.8"
